<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--配置springMvc-->
    <!--开启springmvc注解模式-->
    <!--简化配置 自动注册DefaultAnnotationHandlerMapping,AnnotationHandlerAdapter
    提供数据绑定，数字和日期format @NumberFormat / xml,json默认读写支持-->
    <mvc:annotation-driven/>
    <!--静态资源配置-->
    <!--允许使用"/"左整体映射
    加入对静态资源的处理：js，gif，png-->
    <mvc:default-servlet-handler/>
    <!--jsp显示 自定义视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--扫描web相关的包-->
    <context:component-scan base-package="org.dy.controller"/>
</beans>